.Search {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

input {
  height: 40px;
  width: 100%;
  background: #202020;
  background-image: url(https://p.kindpng.com/picc/s/20-204412_white-magnifying-glass-icon-png-transparent-png.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  color: wheat;
  border-radius: 3px;
}

::placeholder {
  color: white;
  text-align: right;
}
