.App {
  text-align: center;
}

.grid-container {
  display: grid;
  margin-left: 1rem;
  margin-right: 1rem;
}

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

@media (min-width: 700px) {
  .grid-container {
    margin-left: 5rem;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .grid-item {
    margin-left: 1rem;
  }
}
